* {
 -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;
 transition-property: none !important;
 
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
 
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
}

body {
	background-color:#fff;
	font-family: Myriad Pro, Serif
}

#wrapper {
	width:960px;
	height:1500px;
	background-color:none;
	margin-left: auto;
	margin-right:auto;
}

/* TackLING logo */
.TackLING {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Meny */
#menu {
	width: 448px;
	height: auto;
	background-color:none;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	font-size:13pt;
	padding:10px;
}

.text {
	font-size:12pt;
	padding:10px;
	text-align:justify;
}

.link { font-weight:bold; }
.link:hover { text-decoration:underline; }

/* Undermeny */
#content_left {
	width: 20%;
	height: auto;
	float: left;
	background-color: none;
}

ul {
	padding:10px;
	margin-left:30px;
}
li { list-style-type:upper-roman; }

a {
	color:black;
	font-size:12pt;
	text-decoration:none;
}

.active { font-weight:bold;}
li:hover { font-weight:bold; }
a:visited { color:black; }

/* Text */
#content_middle {
	width: 60%;
	height: auto;
	float: left;
	background-color: none;
}

/* Partners */
#content_right {
	width: 20%;
	height: auto;
	float: left;
	background-color: none;
}

.partners_fightcenter {
	width:90%;
	height:90px;
}

img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding:5px;
}

/* Övrigt */
/* Nolleskylt */
.nolleskylt {
	width:470px;
	height:700px;
	float:left;
}







